# NVIM
configurations/nvim/doc/tags
configurations/nvim/doc/semantic-commit.txt

# EMACS
configurations/emacs/.cache/
configurations/emacs/auto-save-list/
configurations/emacs/eln-cache/
configurations/emacs/elpa/
configurations/emacs/recentf
