#**/#*#

# NVIM
configurations/nvim/doc/tags
configurations/nvim/doc/semantic-commit.txt
configurations/nvim/custom.lua
configurations/nvim/lua/tests/
configurations/nvim/coc/
configurations/nvim/lazy-lock.json

# EMACS
configurations/emacs/.cache/
configurations/emacs/autosave/
configurations/emacs/auto-save-list/
configurations/emacs/eln-cache/
configurations/emacs/elpa/
configurations/emacs/eshell/history
configurations/emacs/eshell/lastdir
configurations/emacs/desktop-saves/*
configurations/emacs/games/
configurations/emacs/lm-languages
configurations/emacs/lm-lisp
configurations/emacs/lm-modules
configurations/emacs/org-persist/
configurations/emacs/server/
configurations/emacs/tramp-autosave/
configurations/emacs/transient/
configurations/emacs/tutorial/
configurations/emacs/url/

configurations/emacs/.emacs.desktop.lock
configurations/emacs/.org-id-locations
configurations/emacs/.lsp-session-v*
configurations/emacs/bookmarks.eld
configurations/emacs/recentf
configurations/emacs/recentf.eld
configurations/emacs/emacs-custom.el
configurations/emacs/custom.vars.el
configurations/emacs/custom.el
configurations/emacs/history
configurations/emacs/history.eld
configurations/emacs/ielm-history.eld
configurations/emacs/post-init.el
configurations/emacs/projects
configurations/emacs/recent
configurations/emacs/saveplace
configurations/emacs/tramp

# ZED
configurations/zed/.tmp*
configurations/zed/conversations/
configurations/zed/copilot/
configurations/zed/db/
configurations/zed/extensions/
configurations/zed/languages/
configurations/zed/logs/
configurations/zed/node/
configurations/zed/prettier/
configurations/zed/themes/

# CONFIGURATIONS
configurations/various/clangd/index/
