;; .dir-locals.el template
;; USAGE
;; ((TARGET . ((VAR1 . VALUE)
;;          (VAR2 . VALUE)
;;          (...))))
;; TARGET could be:
;; - nil :         all buffers
;; - LANG-mode:    all buffers with lang-mode
;; - "filepath":   the buffer of that filepath
;; expressions to evaluate must be assigned to <eval> variable

((nil . ((compile-command . "pwsh -c ./project.ps1"))))
